### **Assignment 4,5 FML**  : **Sahar KH.Koolaee**
### *Student Number: 1811934* #

### Introduction:
**In this assignment, I am trying to predict the attrition of employees with K-nn algorithm. I am using Employee attrition data set on canvas**

In [5]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #We need this to split the data

### Data set

Let's first look at the dataset and see which variables we can use.

In [6]:
df = pd.read_csv('Employee-Attrition.csv')
df.head(10) #show a bit more of the dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

* *Attrition* is our dependent variable
* There are 7 independent variables with strong predictive value , based on my knowledge of the topic *DistanceFromHome*, *EnvironmentSatisfaction*, *HourlyRate* *JobSatisfaction*, *MonthlyIncome*, *WorkLifeBalance* ,*YearsSinceLastPromotion*

### Subset the data

In [7]:
dfSubset = df[['Attrition', 'DistanceFromHome', 'EnvironmentSatisfaction', 'HourlyRate', 'JobSatisfaction','MonthlyIncome', 'WorkLifeBalance', 'YearsSinceLastPromotion']]

dfSubset    
dfSubset.info()

dfSubset['Attrition'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Attrition                1470 non-null   object
 1   DistanceFromHome         1470 non-null   int64
 2   EnvironmentSatisfaction  1470 non-null   int64
 3   HourlyRate               1470 non-null   int64
 4   JobSatisfaction          1470 non-null   int64
 5   MonthlyIncome            1470 non-null   int64
 6   WorkLifeBalance          1470 non-null   int64
 7   YearsSinceLastPromotion  1470 non-null   int64
dtypes: int64(7), object(1)
memory usage: 92.0+ KB

No     1233
Yes     237
Name: Attrition, dtype: int64

In [20]:
237/(1233+237)

0.16122448979591836

***16 % of employees experienced Attrition***

In [21]:
1233/(1233+237)

0.8387755102040816

***83 % of employees did not experience Attrition***

### Data cleaning
We also need to drop the rows with NaN's in them.

In [8]:
dfSubset = dfSubset.dropna()
dfSubset

,Attrition,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobSatisfaction,MonthlyIncome,WorkLifeBalance,YearsSinceLastPromotion
0,Yes,1,2,94,4,5993,1,0
1,No,8,3,61,2,5130,3,1
2,Yes,2,4,92,3,2090,3,0
3,No,3,4,56,3,2909,3,3
4,No,2,1,40,2,3468,3,2
...,...,...,...,...,...,...,...,...
1465,No,23,3,41,4,2571,3,0
1466,No,6,4,42,1,9991,3,1
1467,No,4,2,87,2,6142,3,0
1468,No,2,4,63,2,5390,2,0
1469,No,8,2,82,3,4404,4,1

### Building the model

In [9]:
x = dfSubset[['DistanceFromHome','EnvironmentSatisfaction','HourlyRate','JobSatisfaction','MonthlyIncome','WorkLifeBalance','YearsSinceLastPromotion']]
y = dfSubset['Attrition']

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)     #split the data, store it into different variables

X_train.head()    #show the head of the training set

,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobSatisfaction,MonthlyIncome,WorkLifeBalance,YearsSinceLastPromotion
99,23,2,67,2,2042,4,1
785,20,1,61,4,10322,3,11
918,9,4,83,2,19847,2,11
1335,19,4,41,4,3902,3,2
1182,1,4,33,3,4374,3,1

### Train a kNN-algorithm on the data, with k = 3

In [10]:
from sklearn.neighbors import KNeighborsClassifier #the object class we need

knn = KNeighborsClassifier(n_neighbors=3) #create a KNN-classifier with 3 neighbors
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data

### Model evaluation
**Calculate the accuracy on the test set**

In [11]:
knn.score(X_test, y_test) #calculate the fit on the test data

0.7845804988662132

**Calculate the precision on the test set**

In [12]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[336,  28],
       [ 67,  10]], dtype=int64)

**Printing the table:**

In [13]:
conf_matrix = pd.DataFrame(cm, index=['Not Attrition (actual)', 'Attrition (actual)'], columns = ['Not Attrition (predicted)', 'Attrition (predicted)']) #make a dataframe, put labels on rows (index) and columns 
conf_matrix

                        Not Attrition (predicted)  Attrition (predicted)
Not Attrition (actual)                        336                     28
Attrition (actual)                             67                     10

#### Accuracy

In [14]:
(336+10)/(336+67+28+10)

0.7845804988662132

#### Precision (Attrition )

In [15]:
10/(28+10)

0.2631578947368421

#### Recall (Attrition)

In [16]:
10/(67+10)

0.12987012987012986